<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
 <specFlow>
    <unitTestProvider name="MSTest.2010" />
  </specFlow>
  <appSettings>
    <add key="WebURL" value="http://localhost:82/wordpress/wp-login.php" />
    <add key="Browser" value="FF" />
    <add key="UserName" value="wimh0206" />
    <add key="PassWord" value="test@12345" />
  </appSettings>
</configuration>